/* Write CSS here */
* {
  margin: 0px;
  font-family: Roboto;
}
.heading {
  text-align: left;
  margin-left: 25px;
}
.stopwatch-bg {
  background-image: url(https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-container {
  margin: 20px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.timer-image-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.controllers-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.start-button {
  background-color: #1db05f;
  border-width: 0px;
  color: #ffffff;
  padding: 5px;
  margin-right: 4px;
}
.stop-button {
  background-color: #ef0d36;
  border-width: 0px;
  color: #ffffff;
  padding: 5px;
  margin-right: 4px;
}
.reset-button {
  background-color: #eaa800;
  border-width: 0px;
  color: #ffffff;
  padding: 5px;
  margin-right: 4px;
}
